name: Linting

on: pull_request

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "3.35.7"

      - run: flutter pub get

      - run: flutter analyze
